<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="line.css">
    <script type="text/javascript" charset="utf-8" src="line.js"></script>
</head>
<body onload="subst('page_footer')">
<table id="line" class="line">
    <tr>
        <th></th>
        <th id="cell-left" class="cell left"></th>
        <th id="cell-middle" class="cell middle"></th>
        <th id="cell-right" class="cell right"></th>
    </tr>
    <tr>
        <th colspan="4" id="cell-smallprint" class="cell left"></th>
    </tr>
</table>
</body>
</html>
