<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <script type="text/javascript" charset="utf-8" src="lib/bcmath-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="lib/pdf417-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="line.js"></script>
</head>
<body onload="subst('page_header')">
<table id="line" class="line header-block">
    <tr>
        <td id="cell-left-scan-mark" class="scan-mark left-mark" rowspan="3"></td>
        <td id="cell-a1" class="left"></td>
        <td id="cell-a2" class="center"></td>
        <td id="cell-a3" class="center"></td>
        <td id="cell-a4" class="right"></td>
        <td id="cell-right-scan-mark" class="scan-mark right-mark" rowspan="3"></td>
    </tr>
    <tr>
        <td id="cell-b1" class="left"></td>
        <td id="cell-b2" colspan="2" class="center"></td>
        <td id="cell-b3" class="right"></td>
    </tr>
    <tr>
        <td colspan="4" id="cell-c" class="left"></td>
    </tr>
</table>
</body>
</html>
