<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="line.css">
    <script type="text/javascript" charset="utf-8" src="lib/bcmath-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="lib/pdf417-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="line.js"></script>
</head>
<body onload="subst('page_header')">
<table id="line" class="line header-block">

    <tr>
        <th class="scan-mark" rowspan="3"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" width="20" height="20"></th>
        <th id="cell-a1" class="left"></th>
        <th id="cell-a2" class="center"></th>
        <th id="cell-a3" class="center"></th>
        <th id="cell-a4" class="right"></th>
        <th class="scan-mark" rowspan="3"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" width="20" height="20"></th>
    </tr>
    <tr>
        <th id="cell-b1" class="left"></th>
        <th id="cell-b2" colspan="2" class="center"></th>
        <th id="cell-b3" class="right"></th>
    </tr>
    <tr>
        <th colspan="4" id="cell-c" class="left"></th>
    </tr>
</table>
</body>
</html>
